<?xml version="1.0"?>
<config>
    <modules>
        <Wheelbarrow_Translator>
            <version>0.1.0</version>
        </Wheelbarrow_Translator>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Wheelbarrow_Translator before="Mage_Adminhtml">Wheelbarrow_Translator_Adminhtml</Wheelbarrow_Translator>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<translator module="translator">
				<title>Internationalization</title>
				<sort_order>71</sort_order>               
				<children>
					<manage module="translator">
						<title>Manage Translations</title>
						<sort_order>0</sort_order>
						<action>adminhtml/translator/manage</action>
					</manage>
					<pagescan module="translator">
						<title>Scan A Page</title>
						<sort_order>1</sort_order>
						<action>adminhtml/translator/pagescan</action>
					</pagescan>
					<sync>
						<title>Sync Resources</title>
						<sort_order>2</sort_order>
						<action>adminhtml/translator/syncResources</action>
					</sync>
				</children>
			</translator>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Wheelbarrow_Translator>
							<title>Translator Module</title>
							<sort_order>10</sort_order>
						</Wheelbarrow_Translator>
						<system>
                            <children>
                                <config>
                                    <children>
                                        <translator>
                                            <title>Translations Manager</title>
                                        </translator>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
    <default>
    	<translator>
     	   <options>
     	       <batch_size>30</batch_size>
     	       <module_override>1</module_override>
     	       <theme_override>1</theme_override>
     	   </options>
    	</translator>
	</default>  
    <global>
        <models>
            <translator>
                <class>Wheelbarrow_Translator_Model</class>
                <resourceModel>translator_mysql4</resourceModel>
            </translator>
            <translator_mysql4>
                <class>Wheelbarrow_Translator_Model_Mysql4</class>
                <entities>
                    <cache>
                        <table>translator_cache</table>
                    </cache>
                 	<string>
                    	<table>translator_string</table>
                	</string>
                	<translation>
                    	<table>translator_translation</table>
                	</translation>
                	<path>
                    	<table>translator_path</table>
                	</path>
                </entities>
            </translator_mysql4>
            <core>
            	<rewrite>
            		<translate>Wheelbarrow_Translator_Model_Translate</translate>
            		<translate_string>Wheelbarrow_Translator_Model_Translate_String</translate_string>
            		<translate_inline>Wheelbarrow_Translator_Model_Translate_Inline</translate_inline>
            	</rewrite>
            </core>
        </models>
        <resources>
            <translator_setup>
                <setup>
                    <module>Wheelbarrow_Translator</module>
                    <class>Wheelbarrow_Translator_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </translator_setup>
            <translator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </translator_write>
            <translator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </translator_read>
        </resources>
        <blocks>
            <translator>
                <class>Wheelbarrow_Translator_Block</class>
            </translator>
        </blocks>
        <helpers>
            <translator>
                <class>Wheelbarrow_Translator_Helper</class>
            </translator>
        </helpers>
        <events>
      		<controller_front_send_response_after>
        		<observers>
        			<wheelbarrow_translator>
            			<type>singleton</type>
            			<class>Wheelbarrow_Translator_Model_Observer</class>
            			<method>notifyCompletion</method>
          			</wheelbarrow_translator>
        		</observers>
      		</controller_front_send_response_after>
      		<core_block_abstract_to_html_before>
        		<observers>
        			<wheelbarrow_translator>
            			<type>singleton</type>
            			<class>Wheelbarrow_Translator_Model_Observer</class>
            			<method>getBlockTemplate</method>
          			</wheelbarrow_translator>
        		</observers>
      		</core_block_abstract_to_html_before>  
    	</events>
    </global>
</config>