var/
downloader/
media/
app/locale/
.git
*~
app/code/community/Ophirah

app
!app/code/local/Wheelbarrow
!app/etc/modules/Wheelbarrow_Translator.xml
js
!js/wheelbarrow

api.php
get.php
LICENSE_AFL.txt
includes
LICENSE.html
shell
cron.php
index.php
LICENSE.txt
sitemap.xml
cron.sh
index.php.sample
mage
skin
errors
install.php
php.ini.sample
events.txt
pkginfo
favicon.ico
lib
RELEASE_NOTES.txt
