<?xml version="1.0"?>
<config>
    <modules>
        <Wheelbarrow_Variables>
            <version>0.1.0</version>
        </Wheelbarrow_Variables>
    </modules> 
    <global>
        <helpers>
            <variables>
                <class>Wheelbarrow_Variables_Helper</class>
            </variables>
        </helpers>
        <events>
      		<controller_front_send_response_before>
        		<observers>
        			<wheelbarrow_variables>
            			<type>singleton</type>
            			<class>Wheelbarrow_Variables_Helper_Observer</class>
            			<method>parseCustomVars</method>
          			</wheelbarrow_variables>
        		</observers>
      		</controller_front_send_response_before>  
    	</events>
    </global>
</config>