<?xml version="1.0"?>
<config>
    <modules>
        <Magestance_Demo>
            <version>0.1.0</version>
        </Magestance_Demo>
    </modules>
    <frontend>
        <routers>
            <demo>
                <use>standard</use>
                <args>
                    <module>Magestance_Demo</module>
                    <frontName>demo</frontName>
                </args>
            </demo>
        </routers>
        <layout>
            <updates>
                <demo>
                    <file>demo.xml</file>
                </demo>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Magestance_Demo before="Mage_Adminhtml">Magestance_Demo_Adminhtml</Magestance_Demo>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<demo module="demo">
				<title>Demo</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="demo">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>adminhtml/demo</action>
					</items>
					<newpage module="demo">
						<title>Submit a New Page</title>
						<sort_order>1</sort_order>
						<action>adminhtml/demo/newpage</action>
					</newpage>
				</children>
			</demo>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Magestance_Demo>
							<title>Demo Module</title>
							<sort_order>10</sort_order>
						</Magestance_Demo>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<demo>
					<file>demo.xml</file>
				</demo>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <demo>
                <class>Magestance_Demo_Model</class>
                <resourceModel>demo_mysql4</resourceModel>
            </demo>
            <demo_mysql4>
                <class>Magestance_Demo_Model_Mysql4</class>
                <entities>
                    <demo>
                        <table>demo</table>
                    </demo>
                	<translate>
                    	<table>demo_translate</table>
                	</translate>
                </entities>
            </demo_mysql4>
            <core_resource>
            	<rewrite>
            		<translate>Magestance_Demo_Model_Resource_Translate</translate>
            	</rewrite>
            </core_resource>
        </models>
        <resources>
            <demo_setup>
                <setup>
                    <module>Magestance_Demo</module>
                    <class>Magestance_Demo_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </demo_setup>
            <demo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </demo_write>
            <demo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </demo_read>
        </resources>
        <blocks>
            <demo>
                <class>Magestance_Demo_Block</class>
            </demo>
        </blocks>
        <helpers>
            <demo>
                <class>Magestance_Demo_Helper</class>
            </demo>
        </helpers>
        <events>
      		<controller_front_send_response_after>
        		<observers>
        			<magestance_demo>
            			<type>singleton</type>
            			<class>Magestance_Demo_Model_Observer</class>
            			<method>notifyCompletion</method>
          			</magestance_demo>
        		</observers>
      		</controller_front_send_response_after>
      		<core_block_abstract_to_html_before>
        		<observers>
        			<magestance_demo>
            			<type>singleton</type>
            			<class>Magestance_Demo_Model_Observer</class>
            			<method>getBlockTemplate</method>
          			</magestance_demo>
        		</observers>
      		</core_block_abstract_to_html_before>  
    	</events>
    </global>
</config>