<?xml version="1.0"?>
<config>
    <sections>
        <general>
            <groups>
                <tokens translate="label">
                    <label>Tokens</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <registration_title translate="label">
                            <label>Registration Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </registration_title>
                    </fields>
                </tokens>
            </groups>
        </general>
    </sections>
</config>